<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/users.css">
</head>

<body>
    <div class="user-container">
        <h1>Login | Register</h1>
        <div class="user-form">
            <label for="email">Correo</label>
            <input type="email" name="email" id="in-email">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="in-password">
        </div>
        <div class="user-buttons">
            <button id="but-login">Login</button><button id="but-register">Register</button>
        </div>
    </div>
    <script src="scripts/http.js"></script>
    <script src="scripts/login.js" type="module"></script>
</body>

</html>