<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<body>
    <div class="product-menu">
        <label for="newProduct">Agregar producto</label>
        <input type="text" name="newProduct" id="newProduct" placeholder="sku">
        <button id="but-add">Agregar</button>
        <button id="but-logOut">Log out</button>
    </div>
    <div class="products-container"></div>
    <script src="scripts/http.js"></script>
    <script src="scripts/products.js" type="module"></script>
</body>

</html>