h1{
  width: 100%;
  text-align: center;
}
.user-container{
  padding: 0 20%;  
}

.user-form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-buttons{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
button{
  cursor: pointer;
}
